---
layout: default
---
<header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
</header>
<div class="resume">
    <section>
        <div class="row">
          <div class="col-md-12 text-center">
              <h2>Kevin Mulcrone</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <h4 style="margin-bottom: 0px;">637 Bakewell Street Apt B</h4>
            <h4>Covington, KY 41011</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <h4 style="margin-bottom: 0px;">(708) 805-9743 - 
            KayBeSee@gmail.com - 
            http://KevinMulcrone.com</h4>
          </div>
        </div>
    </section>
    <section>
        <div class="row">
        <div class="col-md-2">
            <h2 class="resume-header">Profile</h2>
        </div>
        <div class="col-md-10">
            Self-motivated individual with experience in software engineering, marketing, and business. Strength areas:
            <ul>
                <li>Self-motivated and able to learn new skills</li>
                <li>Excellent written and oral communication and analytical skills</li>
                <li>A strong work ethic combined with time management and organization</li>
            </ul>
        </div>
        </div>
    </section>
    <section>

        <div class="row">
          <div class="col-md-2">
              <h2 class="resume-header">Work Experience</h2>
          </div>
          <div class="col-md-10">
              <!-- Start Losant -->
              <div class="row">
                  <div class="col-md-8">
                      <b>Losant</b> - Software Engineer<br />
                      <ul>
                          <li>Build new features in the frontend web application
                          <li>Tools: React, Redux, Styled Components, ES6, and Webpack</li>
                      </ul>
                  </div>
                  <div class="col-md-4 hidden-sm hidden-xs">
                      Cincinnati, OH<br />
                      June 2018 - Present
                  </div>
              </div>
              <div class="hor-break"></div>
              <!-- Start Terrapin -->
              <div class="row">
                  <div class="col-md-8">
                      <b>Terrapin Ticketing</b> - Co-Founder // Frontend Engineer<br />
                      <ul>
                          <li>Design and build front-end single page application to communicate with RESTful API
                          <li>Tools: React, Redux, Styled Components, ES6, and Webpack</li>
                          <li>Communicate with customers and fans about how to improve user experience</li>
                      </ul>
                  </div>
                  <div class="col-md-4 hidden-sm hidden-xs">
                      Cincinnati, OH<br />
                      September 2017 - April 2018
                  </div>
              </div>
              <div class="hor-break"></div>
              <!-- Start Wyzerr -->
              <div class="row">
                  <div class="col-md-8">
                      <b>Wyzerr</b> - Software Engineer<br />
                      <ul>
                          <li>Building SaaS platform using React, Redux, and Node.js</li>
                      </ul>
                  </div>
                  <div class="col-md-4 hidden-sm hidden-xs">
                      Cincinnati, OH<br />
                      December 2016 - August 2017
                  </div>
              </div>
              <div class="hor-break"></div>
              <!-- Start Red Edge -->
              <div class="row">
                  <div class="col-md-8">
                      <b>Red Edge</b> - Web Developer<br />
                      <ul>
                          <li>Built Chrome Extension to add custom field functionality to NationBuilder CMS</li>
                          <li>Work with a team of developers to deliver completed projects to clients by deadlines</li>
                      </ul>
                  </div>
                  <div class="col-md-4 hidden-sm hidden-xs">
                      Washington DC<br />
                      May 2016 - August 2016
                  </div>
              </div>
              <div class="hor-break"></div>
              <!-- Start Modulus -->
              <div class="row">
                  <div class="col-md-8">
                      <b>Modulus</b> - Software Engineer Intern<br />
                      <ul>
                          <li>Build dashboards via Modulus API to monitor host, server, project data.</li>
                          <li>Collaborate with a team to build features to make hosting Node.js applications easier for end users.</li>
                      </ul>
                  </div>
                  <div class="col-md-4 hidden-sm hidden-xs">
                      Cincinnati, OH<br />
                      April 2015 - January 2016
                  </div>
              </div>
              <div class="hor-break"></div>
              <!-- Start KayBeSee Web Design -->
              <!-- <div class="row">
                  <div class="col-md-8">
                      <b>KayBeSee Web Design</b> - Founder<br />
                      <ul>
                          <li>Collaborate with customers to design, build, and launch products</li>
                          <li>Build websites using HTML, CSS, Javascript, PHP, Bootstrap and Wordpress</li>
                      </ul>
                  </div>
                  <div class="col-md-4 hidden-sm hidden-xs">
                      http://KayBeSee.com<br />
                      February 2013 - April 2015
                  </div>
              </div>
              <div class="hor-break"></div> -->
              <!-- Start Xavier Help Desk -->
              <!-- <div class="row">
                  <div class="col-md-8">
                      <b>Xavier University Help Desk</b> – Team II Team Member<br />
                      <ul>
                          <li>Use appropriate troubleshooting and customer service techniques</li>
                          <li>Collaborate with team to ensure campus technology is functioning appropriately</li>
                      </ul>
                  </div>
                  <div class="col-md-4 hidden-sm hidden-xs">
                      Cincinnati, OH<br />
                      January 2014 - May 2015
                  </div>
              </div>
          <div class="hor-break"></div>
              <div class="row">
                  <div class="col-md-8">
                      HeadCount – Web Design & Digital Media Intern<br />
                      <ul>
                          <li>Responsible for gathering and cross referencing voter registration deadline information and publish the data online.</li>
                          <li>Post topical articles to be posted to the organization's various social media accounts.</li>
                          <li>Contributed <a href="http://www.headcount.org/author/kevin-mulcrone/" target="_blank">two current event writing pieces</a> for their blog.</li>
                      </ul>
                  </div>
                  <div class="col-md-4">
                      Remote - http://HeadCount.org<br />
                      February 2014 – July 2014
                  </div>
              </div>
              <div class="hor-break"></div>
              <div class="row">
                  <div class="col-md-8">
                      <b>The Perfect Level</b> – Founder<br />
                      <ul>
                          <li>Designed and built website using Wordpress with WooCommerce</li>
                          <li>Responsible for handling customer service issues</li>
                          <li>Promote the site via online forums, video streaming services, and MLG events</li>
                      </ul>
                  </div>
                  <div class="col-md-4 hidden-sm hidden-xs">
                      http://ThePerfectLevel.com<br />
                      Nov. 2009 – Aug. 2011
                  </div>
              </div>
              <div class="hor-break"></div>
              <div class="row">
                  <div class="col-md-8">
                      <b>Hinsdale Golf Club</b> - Honor Caddy<br />
                      <ul>
                          <li>Arrive on time properly dressed, groomed and ready to work.</li>
                          <li>Assist players with game.</li>
                          <li>Guide new caddies with learning the basics.</li>
                      </ul>
                  </div>
                  <div class="col-md-4 hidden-sm hidden-xs">
                      Hinsdale, IL <br />
                      May 2007 – August 2014
                  </div>
              </div> -->
            </div>
          </div>
    </section>
    <section>

        <div class="row">
            <div class="col-md-2">
                <h2 class="resume-header">Education</h2>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-8">
                        <b>Honors Bachelor of Arts, Philosophy, Politics, & The Public (PPP)<br />
                        Bachelor of Arts, Computer Science <br /></b>
                        Xavier University<br />
                    </div>
                    <div class="col-md-4 hidden-sm hidden-xs">
                        August 2013 - December 2016<br/>
                        Cincinnati, OH
                    </div>
                </div>
                <!-- <div class="hor-break"></div>
                <div class="row">
                    <div class="col-md-8">
                        <b>High School Diploma</b><br />
                        Lyons Township High School
                    </div>
                    <div class="col-md-4 hidden-sm hidden-xs">
                        June 2013<br/>
                        Western Springs, IL
                    </div>
                </div> -->
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-md-2">
                <h2 class="resume-header">Interests</h2>
            </div>
            <div class="col-md-10">
                <p><b>Economics</b> – Regular attendant of Foundation for Economic Education (FEE) summer seminars. Interested in the Austrian School of economic thought and cryptocurrencies like Bitcoin.</p>
                <p><b>Activism</b> – I organized and led Xavier University's Young Americans for Liberty my junior and senior year of college. Founded Lyons Township High School’s Young Americans for Liberty (YAL) chapter in 2012. Have written <a href="http://www.headcount.org/author/kevin-mulcrone/" target="_blank">articles</a> for HeadCount. Founded and maintain <a href="http://www.Panic2016.com" target="_blank">Panic 2016</a>.</p>
                <p><b>Startups</b> – I’m interested in new ways to solve problems. Currently working on building a frictionless decentralized ticket marketplace that enables users to buy, sell, and trade concert tickets online securely with virtually no fees.</p>
            </div>
        </div>
    </section>
</div>

<div class="col-md-12" style="margin-top: 30px;">
    <a href="assets/Resume.pdf" class="btn btn-lg btn-block btn-success" style="color: #fff;">Download Resume</a>
</div>